<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/allowlist.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Lightweight Form Factor <small class="d-none">🏃💨</small></h2>
        <p>Google Chrome Extension form factor allows for fast computation times and ease-of-use, promoting accessibility to our users.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/blocklist.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Automatic Review Page Redirection<small class="d-none">🤖↩️</small></h2>
        <p>When user is navigating to a product page, our extension will automatically give the URL to the associated reviews page in order to scrape the relevant product reviews.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/mlfilter.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Automatic GPT Summary<small class="d-none">➕➖</small></h2>
        <p>GPT is used to summarize the top reviews and provide a concise overview of the product with detailed pros and cons, making it easier for users to make informed decisions.</p>
    </div>
</div>

<!-- <div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Dynamic LMS for Educators <small class="d-none">🦉</small></h2>
        <p>Optimize your oversight with the Dynamic Student List to monitor who’s online and ready to learn.
            Provide real-time guidance by identifying students who need help or are off-task in a single glance.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">AI Pros<small class="d-none">✨</small></h2>
        <p>Discover fresh resources with the upcoming AI Search Engine to explore relevant materials for your lessons.
            Ensure quality control by reviewing these resources before deciding whether they’re a good fit for your students.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">AI Cons<small class="d-none">🧰</small></h2>
        <p>Streamline classroom management with the upcoming To-do List to schedule assignments and track student progress.
            Empower learners to stay organized while you get instant insights into who’s caught up and who might need extra support.</p>
    </div>
</div> -->
